<h1>Menu</h1>

<div class="btn-group">

  <% @sections.each do |section| %>
    <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
  <% end %>

</div>
<%= form_tag 'search', method: 'get' do %>
  <%= hidden_field_tag :section_id, params[:section_id] %>
  <%= text_field_tag :name %>
  <%= submit_tag "Search", class: "btn btn-secondary" %>
<% end %>
<div class="card card-block">
  <div class="form-inline">
    <%= form_tag nil, method: 'get' do %>
      <%= hidden_field_tag :section_id, params[:section_id] %>
      <%= select_tag :sort_column, options_for_select([['Name', 'name'], ['Price', 'price']]), class: 'form-control' %>
      <%= select_tag :sort_direction, options_for_select([['Ascending', 'asc'], ['Descending', 'desc']]), class: 'form-control' %>
      <%= submit_tag "Sort", class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>

<% if @current_section %>
  <table class="table">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Price</th>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @food_items.each do | item | %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency item.price%></td>
          <td><%= image_tag item.image_url_or_default %></td>
         
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">
  Please select a section
  </div>
<% end %>
