<h1>Thanks for your order</h1>
Customer name: <%= @order.name %><br>
Phone number: <%= @order.phone %><br>
Address: <%= @order.address %> <br>
Food name: <%= @food_item.name %><br>
Total price: <%= @food_item.price %><br>
Create at: <%= @order.created_at.strftime("%B %e, %Y at %I:%M %p") %>
